:root {
    --template-margin: 100px;
    --primary-color: #0f0;
    --secondary-color: #bb8e3b;
    --bg-image: url(/assets/img/first-screen.png);
    --bg-test: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.8903 0.500001H24.1098C26.8449 0.49996 29.0496 0.499927 30.7835 0.733048C32.5837 0.975081 34.0995 1.49287 35.3033 2.6967C35.9002 3.29364 36.3285 3.96727 36.6381 4.71425C38.5022 4.94776 40.0672 5.46067 41.3033 6.69681C42.5071 7.90064 43.0249 9.41639 43.267 11.2166C43.5001 12.9505 43.5 15.1552 43.5 17.8904V26.1098C43.5 28.845 43.5001 31.0497 43.267 32.7836C43.0249 34.5838 42.5071 36.0996 41.3033 37.3034C40.0672 38.5396 38.5021 39.0525 36.638 39.286C36.3284 40.0329 35.9002 40.7064 35.3033 41.3033C34.0995 42.5071 32.5837 43.0249 30.7835 43.267C29.0496 43.5001 26.8449 43.5 24.1097 43.5H19.8903C17.1551 43.5 14.9504 43.5001 13.2165 43.267C11.4163 43.0249 9.90053 42.5071 8.6967 41.3033C8.09982 40.7064 7.6716 40.0329 7.36201 39.286C5.49789 39.0525 3.93285 38.5396 2.6967 37.3034C1.49287 36.0996 0.975081 34.5838 0.733048 32.7836C0.499927 31.0497 0.49996 28.845 0.500001 26.1099V17.8904C0.49996 15.1552 0.499927 12.9505 0.733048 11.2166C0.975081 9.41639 1.49287 7.90064 2.6967 6.69681C3.93283 5.46067 5.49784 4.94776 7.36192 4.71424C7.67151 3.96727 8.09976 3.29364 8.6967 2.6967C9.90053 1.49287 11.4163 0.975081 13.2165 0.733048C14.9504 0.499927 17.1551 0.49996 19.8903 0.500001ZM6.65687 7.88094C5.78165 8.09187 5.23601 8.40014 4.81802 8.81813C4.2645 9.37165 3.9036 10.1488 3.7063 11.6163C3.50319 13.127 3.5 15.1293 3.5 18.0001V26.0001C3.5 28.8709 3.50319 30.8732 3.7063 32.3839C3.9036 33.8514 4.2645 34.6286 4.81802 35.1821C5.23601 35.6001 5.78165 35.9083 6.65689 36.1193C6.49993 34.4968 6.49996 32.5071 6.5 30.1098V13.8902C6.49996 11.493 6.49993 9.50337 6.65687 7.88094ZM37.3431 36.1193C38.2183 35.9083 38.764 35.6001 39.182 35.1821C39.7355 34.6286 40.0964 33.8514 40.2937 32.3839C40.4968 30.8732 40.5 28.8709 40.5 26.0001V18.0001C40.5 15.1293 40.4968 13.127 40.2937 11.6163C40.0964 10.1488 39.7355 9.37165 39.182 8.81813C38.764 8.40014 38.2184 8.09187 37.3431 7.88095C37.5001 9.50338 37.5 11.4931 37.5 13.8903V30.1097C37.5 32.507 37.5001 34.4968 37.3431 36.1193ZM13.6162 3.7063C12.1487 3.9036 11.3715 4.2645 10.818 4.81802C10.2645 5.37155 9.9036 6.14869 9.7063 7.61624C9.50319 9.12694 9.5 11.1292 9.5 14V30C9.5 32.8708 9.50319 34.8731 9.7063 36.3838C9.9036 37.8513 10.2645 38.6285 10.818 39.182C11.3715 39.7355 12.1487 40.0964 13.6162 40.2937C15.1269 40.4968 17.1292 40.5 20 40.5H24C26.8708 40.5 28.8731 40.4968 30.3838 40.2937C31.8513 40.0964 32.6285 39.7355 33.182 39.182C33.7355 38.6285 34.0964 37.8513 34.2937 36.3838C34.4968 34.8731 34.5 32.8708 34.5 30V14C34.5 11.1292 34.4968 9.12694 34.2937 7.61624C34.0964 6.14869 33.7355 5.37155 33.182 4.81802C32.6285 4.2645 31.8513 3.9036 30.3838 3.7063C28.8731 3.50319 26.8708 3.5 24 3.5H20C17.1292 3.5 15.1269 3.50319 13.6162 3.7063ZM14.5 16C14.5 15.1716 15.1716 14.5 16 14.5H28C28.8284 14.5 29.5 15.1716 29.5 16C29.5 16.8284 28.8284 17.5 28 17.5H16C15.1716 17.5 14.5 16.8284 14.5 16ZM14.5 24C14.5 23.1716 15.1716 22.5 16 22.5H28C28.8284 22.5 29.5 23.1716 29.5 24C29.5 24.8284 28.8284 25.5 28 25.5H16C15.1716 25.5 14.5 24.8284 14.5 24ZM14.5 32C14.5 31.1716 15.1716 30.5 16 30.5H22C22.8284 30.5 23.5 31.1716 23.5 32C23.5 32.8284 22.8284 33.5 22 33.5H16C15.1716 33.5 14.5 32.8284 14.5 32Z' fill='%23FFD600'/%3E%3C/svg%3E") center no-repeat rgb(0, 4, 255);
}

.page-z-index .example {
    width: 500px;
    height: 500px;
    border: 10px solid orange;
    background-color: var(--primary-color);
    margin: 90px auto;
    position: relative;
}

.page-z-index .example-item {
    width: calc(350px + 100px);
    height: calc(var(--template-margin) * 4);
    border: 10px solid purple;
    background-color: palevioletred;
    position: relative;
}

.page-z-index .z-index_0 {
    z-index: 0;
}

.page-z-index .z-index_1 {
    z-index: 1;
    background-color: greenyellow;
}

.page-z-index .z-index_-1 {
    z-index: -1;
    background-color: blueviolet;
}

.example-item.z-index_0 {
    position: absolute;
    top: 58px;
    left: 100px;
    background: var(--bg-test);
}

.example-item.z-index_1 {
    position: absolute;
    top: 234px;
    left: -152px;
}

.example-item.z-index_-1 {
    position: absolute;
    top: -131px;
    right: -203px;
}

